[Unit]
Description=Planning Previsionnel - Daily PostgreSQL Backup Timer

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
